<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<h1 th:text="${title}"></h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${house}">
    <div class="form-group">
        <label th:for="address">Address</label>
        <input class="form-control" th:field="*{address}"/>
        <span th:errors="*{address}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="state">State</label>
        <select th:field="*{state}">
            <option th:each="HouseState : ${houseStates}"
                    th:text="${HouseState.name}"
                    th:value="${HouseState}"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:for="zip">Zip Code</label>
        <input class="form-control" th:field="*{zip}"/>
        <span th:errors="*{zip}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}"/>
        <span th:errors="*{email}" class="error"></span>
    </div>
        <input type="submit" value="Add House" />
</form>

</body>
</html>